{
  "reporter": [
    "html",
    "text",
    "text-summary",
    "lcov"
  ],
  "include": [
    "packages/**/lib/*.js"
  ],
  "exclude": [
  ],
  "require": [
    "@babel/register"
  ],
  "check-coverage": true,
  "cache": false
}
